<% provide(:title, '概要') %>

<div class="center jumbotron">
  <h1>本サービスについて</h1>
  <p>ここは，ゼネラルコンサートの概要ページになります。</p>
  <div>
    <%= link_to "作成情報", 'https://qiita.com/Moo_Moo_Farm/items/88e829c24e0c0f11c6b5', class: "btn btn-link" %>    
  </div>
</div>
