<% provide(:title, '') %>

<% if logged_in? %>
  <div class="row">
    <%= render 'shared/sidebar' %>
    <div class="col-md-8">
      <h3>投稿動画一覧</h3>
      <%= render 'shared/feed', feed_items: @feed_items  %>
    </div>
  </div>
<% else %>
  <%= render 'before_login' %>
<% end %>
