<% provide(:title, @title) %>
<div class="row">
  <%= render 'shared/sidebar', user: @user %>
  <div class="col-md-8">
    <h3><%= "【#{@title}】" %></h3>
    <% if @users.present? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
