<aside class="col-md-4">
  <section class="user_info">
    <%= render 'shared/user_info', user: user %>
  </section>
  <section class="stats">
    <%= render 'shared/stats', user: user %>
  </section>
  <% if controller.controller_name == 'static_pages' %>
    <section class="music_post_form">
      <%= render 'shared/music_post_form', music_post: @music_post %>
    </section>
  <% end %>
</aside>
