<aside>
  <section class="user_info">
    <%= link_to gravatar_for(user, size: 50), user %>
    <h1><%= user.name %></h1>
    <span><%= link_to "プロフィール", user %></span>
    <span>投稿数：<%= user.music_posts.count %>件</span>
  </section>
</aside>
