<span id="like_form">
  <% if current_user.liking?(music_post) %>
    <%= render partial: 'music_posts/unlike', locals: { music_post: music_post } %>
  <% else %>
    <%= render partial: 'music_posts/like', locals: { music_post: music_post } %>
  <% end %>
</span>
