<% provide(:title, @music_post.title) %>

<div class="row">
  <div class="col-3">
    <%= render 'shared/user_info' %>
  </div>
  <div class="col-9 music_post">
    <%= render @music_post %>
  </div>
</div>
