@import "bootstrap-sprockets";
@import "bootstrap";

/* 投稿動画 */

.post_info {
  padding: 0.5em 1em;
  margin: 1em 10em;
  color: black;
  background: #e4fcff;
  border-top: solid 6px #1dc1d6;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

.box_center_vert {
  width: 100%;
	display: flex;
	align-items: center;
  justify-content: center;
}

.music_posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .music_post {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}
