<footer class="footer">
  <small>General Concert <%= Time.current.year %></small>
  <nav>
    <ul>
      <li><%= link_to "アプリ概要", about_path %></li>
      <li><%= link_to "利用規約", tos_path %></li>
      <li><%= link_to "作成情報", 'https://qiita.com/Moo_Moo_Farm/items/88e829c24e0c0f11c6b5' %></li>
    </ul>
  </nav>
</footer>
