<footer>
  <span>General Concert <%= Time.current.year %></span>
  <nav>
    <ul>
      <li><%= link_to("ホーム", root_path) unless logged_in? %></li>
      <li><%= link_to "アプリ概要", about_path %></li>
      <li><%= link_to "利用規約", tos_path %></li>
    </ul>
  </nav>
</footer>
